block title
    if (data)
        title= "Statistics for " + data._shorttitle.value
    else
        title= "Missing Statistics"

block extrajavascripts
    each script in js_resources.details_page
        script(type='text/javascript', src=script)

block extrastyles
    each style in css_resources.details_page
        link(rel='stylesheet', href=style)

block content
    if (data)

        +portal_breadcrumbs (breadcrumbs, data._shorttitle.value)

        h1
            span= "Statistics for "
                +ext_link(data._shorttitle, "http://cr.eionet.europa.eu/factsheet.action?uri=")
        +detail_tables (sections, data, "http://cr.eionet.europa.eu/factsheet.action?uri=")

    else
        +app_error("Statistics with ID: ", aideid)

    +visualization_info (dataprovencance_info_url,dataprovencance_info_text)

    div!= further_info
